# individual users should follow build steps in README -- creating this folder themselves
build/

# datasets over 100.0MB cannot be tracked by GitHub
# consider Git LFS or script to download untracked datasets
# still want to track empty test folder though
test/*
!test/.gitkeep
!test/2_10.dat
!test/2_11.dat
!test/2_12.dat
!test/2_13.dat
!test/2_14.dat

# misc untracked files
.vscode/