# individual users should follow build steps in README -- creating this folder themselves
build/

# scripts in tools folder currently unfinished
tools/

# datasets over 100.0MB cannot be tracked by GitHub
# TODO -- consider Git LFS or script to download untracked datasets
test/65k.dat
test/131k.dat
test/262k.dat

# misc untracked files
.vscode/